<!DOCTYPE html>
<html>
<head>
  <title>Commentui</title>
  <%= stylesheet_link_tag    "commentui/application", media: "all" %>
  <%= javascript_include_tag "commentui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
